.header {
  font-size: 1.5rem;
  color: var(--v-cinnamon);
  text-align: center;
  width: 100%;
}

.list {
  min-width: 30%;
  list-style: none;
}

.list li {
  margin: 0 2rem 1rem 0;
  top: 0;
  left: 0;
  cursor: pointer;
}

@media (max-width: 600px) {
  .header {
    text-align: center;
  }

  .list {
    align-items: center;
    justify-content: center;
    min-width: 90%;
  }

  .list li {
    flex-basis: 90%;
  }
}
