@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --raw-sienna: #F97701;
  --dt-blue: #131419;
  --ecru: #000000;
  --v-cinnamon: #808080;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--dt-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}